.DS_Store
node_modules
yarn-error.log
/dist
/.vscode
/.env
/types
*.tgz

/packages/sdk-core/dist
/packages/sdk-core/types
/packages/sdk-fetcher-axios/dist
/packages/sdk-fetcher-axios/types
/packages/sdk-fetcher-node-fetch/dist
/packages/sdk-fetcher-node-fetch/types