.DS_Store
node_modules
yarn-error.log
/dist
/.vscode
/.env
/types
*.tgz

/docs
/packages/sdk-core/dist
/packages/sdk-core/types
/packages/sdk-core/*.html
/packages/sdk-storefront/dist
/packages/sdk-storefront/types
/packages/sdk-storefront/*.html
/packages/sdk-platform/dist
/packages/sdk-platform/types
/packages/sdk-platform/*.html
/packages/sdk-fetcher-axios/dist
/packages/sdk-fetcher-axios/types
/packages/sdk-fetcher-axios/*.html
/packages/sdk-fetcher-node/dist
/packages/sdk-fetcher-node/types
/packages/sdk-fetcher-node/*.html